body {
	margin: 0;
	padding: 0;
	border: none;
	font-family:'Noto Sans SC', sans-serif;
}

header {
	display: block;
	position: relative;
	background-image: url('./header.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: auto;
	margin: 0;
	padding: 0;
	padding-left: 0;
	padding-right: 0;
}

h1 {
	font-size: 100px;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}

p {
	margin-top: 15px;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
}
.navbar-nav {
	color: white;
	background: transparent;
	width: 500px;
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
	padding-left: 5px;
}

.navbar-light {
	color: white;
	background: transparent;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(225,225,225,.5);
}

.navbar-brand {
	color: rgba(225,225,225,.7);
	padding-left: 20px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.header {
	color: white;
	padding: 60px;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}

.round {
	color: white;
	font-size: 20px;
	background-color: yellowgreen;
	border: none;
	padding: 15px 25px;
	border-radius: 30px;
}

.first {
	color: white;
	background-color: yellowgreen;
	display: flex;
	justify-content: center;
}

.first h3 {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	font-size: 30px;
}

.first p {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 15px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.col-md-6 {
	margin-bottom: 60px;
	margin-top: 10px;
}

.second h3, .third h3 {
	font-size: 30px;
	margin-top: 20px;
	padding-top: 30px;

}

.second p, .third p {
	font-size: 20px;
	color: dimgray;
	padding-right: 40px;
}

.third {
	color: white;
	background-color: black;
	padding-left: 30px;
	padding-bottom: 20px;
}

.third button {
	color: black;
	background-color: white;
}

.oval {
	width: 100%;
	height: auto;
	border-radius: 50%;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}


.col-lg-4 {
	height: 200px;
	text-align: center;
	font-size: 30px;
	color: white;
	padding-top: 80px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.trio-1 {
	background-image: url('./writing.jpg');
}

.trio-2 {
	background-image:  url('./concert.jpg');
}

.trio-3 {
	background-image: url('./pencil_sharpener.jpg');
}

hover:.trio-1 div, hover:.trio-2 div, hover:.trio-3 div{
	color: white;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
	.navbar-nav, .navbar-brand, .navbar-light {
		background: white;
	}
}


@media only screen and (max-width: 768px) {
	h1 {
		font-size: 50px;
		margin-top: 50px;
	}

	.header {
		padding-top: 50px;
		padding-bottom: 80px;
	}
}